button {
    border:#cc1e1e solid 1px;
    color: #aa1005;
    border-radius: 10px !important;
    background-color: white;
}
button:hover {
    border:#98f8ff solid 2px;
    /* color: rgb(166, 242, 255); */
}

.card {
    width: 20% !important;
    margin: 5px
}

.navbar {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1.5rem 1rem;
    /* background: #1d2122; */
    opacity: 87% !important;
}

 .navbar-brand {
    color: #d92027 !important;
    
}

#flowerIcon {
    color: #d92027!important;
}

.navbar-brand {
    font-family: cursive; 
    font-size: 2rem !important;
    font-weight: 700; 
    display: inline-block;
    margin-right: 1rem; 
    
    line-height: inherit;
    white-space: nowrap; 
}

h3 {
    font-family: cursive; 
    font-size: 2rem ;
    color: #ffebec;
}
hr {
    font-weight: 700; 
    color: #ffebec !important;
}

#navButtons > button:hover {
    border:#98f8ff solid 2px;
    color: #98f8ff;
    /* background: #d92027; */
}

#navButtons > button {
    color: #d92027 !important;
}

#review-modal-button {
    border:#98f8ff solid 2px !important;
    color: #98f8ff !important;
    padding: 0%; 
    /* background: #d92027; */
}



/* side cart info */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1021;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

.sidebar a{
    padding: 8px 8px 8px 32px;
    
    font-size: 25px;
    color: #ffa6a6;
    display: block;
    transition: 0.3s;
}
   
.a-cart {
    padding: 8px 8px 8px 32px;
    
    font-size: 18px !important;
    color: #fddada;
    /* display: block; */
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #ce0202;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50p;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
     color: rgb(10, 10, 10); 
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    border: solid 1px rgb(190, 250, 247);
    border-radius: 50%;
    /* padding: 5px; */
    color: rgb(177, 4, 4);

  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }


  .slow-spin {
    font: medium;
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
  }
  

  #checkout {
    padding: 8px 8px 8px 32px;
    
    font-size: 25px;
    color: #fccdcd;
    display: block;
    transition: 0.2s;
  }

  #checkout:hover {
    color: #ce0202;
  }







/* .......................test.................... */

.order-payment {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0 auto;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
  }


  .checkout-panel {
    margin: 100px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 740px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
  }
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    background-color: #efefef;
  }
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #f62f5e;
  }
  .step.active:after {
    background-color: #f62f5e;
  }
  .step.active:before {
    color: #f62f5e;
  }
  .step.active + .step {
    background-color: #f62f5e;
  }
  .step.active + .step:before {
    color: #f62f5e;
  }
   
  .step:nth-child(1):before {
    content: 'Delivery';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: 0;
    content: 'Finish';
  }
  .payment-method {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
   
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
   
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
   
  .radio-input {
    margin-top: 20px;
  }
   
  input[type='radio'] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
  }
   
  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: #b4b4b4;
  }
   
  .info {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 50px;
    opacity: .5;
    color: #2e2e2e;
  }
   
  div[class*='column'] {
    width: 382px;
  }
   
  input[type='text'],
  input[type='password'] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
   
  input[type='text']:focus,
  input[type='password']:focus {
    border-color: rgb(119, 219, 119);
  }
   
  #date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
  #cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
  #cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
  #verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
   
  .small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
   
  .small-inputs div {
    width: 182px;
  }
  .panel-footer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #f62f5e;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #f62f5e;
  }
   
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
  }
  .blue-border {
    border: 1px solid rgb(110, 178, 251);
  }
  .warning {
    border-color: #f62f5e;
  }
  